* text=auto !eol
ctxt.che.mobile/ASL2.0.txt -text
ctxt.che.mobile/LICENSE-CPL-JUnit.txt -text
ctxt.che.mobile/MITX.txt -text
ctxt.che.mobile/NOTICE.txt -text
ctxt.che.mobile/artifact_manual.composite -text
ctxt.che.mobile/pom.xml -text
ctxt.che.mobile/src/main/java/org/universAAL/context/chemobile/Hub.java -text
ctxt.che.mobile/src/main/java/org/universAAL/context/chemobile/MobileHistorySubscriber.java -text
ctxt.che.mobile/src/main/java/org/universAAL/context/chemobile/osgi/Activator.java -text
ctxt.che.mobile/src/main/java/org/universAAL/context/chemobile/osgi/package.html -text
ctxt.che.mobile/src/main/java/org/universAAL/context/chemobile/package.html -text
ctxt.che.mobile/src/test/java/org/universAAL/context/chemobile/test/ArtifactIntegrationTest.java -text
ctxt.che.module.cardinality/ASL2.0.txt -text
ctxt.che.module.cardinality/LICENSE-Aduna-OpenRDF.txt -text
ctxt.che.module.cardinality/MITX.txt -text
ctxt.che.module.cardinality/NOTICE.txt -text
ctxt.che.module.cardinality/pom.xml -text
ctxt.che.module.cardinality/src/main/java/org/universAAL/context/che/database/impl/SesameBackendCrd.java -text
ctxt.che.module.cardinality/src/main/java/org/universAAL/context/che/database/impl/SesameBackendCrdClc.java -text
ctxt.che.module.cardinality/src/main/java/org/universAAL/context/che/database/impl/SesameBackendCrdClc2.java -text
ctxt.che.module.cardinality/src/main/java/org/universAAL/context/che/database/impl/SesameBackendCrdClc2Cnf.java -text
ctxt.che.module.cardinality/src/main/java/org/universAAL/context/che/database/impl/SesameBackendCrdClcCnf.java -text
ctxt.che.module.cardinality/src/main/java/org/universAAL/context/che/database/impl/SesameBackendCrdCnf.java -text
ctxt.che/ASL2.0.txt -text
ctxt.che/LICENSE-Aduna-OpenRDF.txt -text
ctxt.che/LICENSE-CPL-JUnit.txt -text
ctxt.che/MITX.txt -text
ctxt.che/NOTICE.txt -text
ctxt.che/artifact_manual.composite -text
ctxt.che/pom.xml -text
ctxt.che/src/main/java/org/universAAL/context/che/ContextHistoryCallee.java -text
ctxt.che/src/main/java/org/universAAL/context/che/ContextHistoryServices.java -text
ctxt.che/src/main/java/org/universAAL/context/che/ContextHistorySubscriber.java -text
ctxt.che/src/main/java/org/universAAL/context/che/Hub.java -text
ctxt.che/src/main/java/org/universAAL/context/che/database/Backend.java -text
ctxt.che/src/main/java/org/universAAL/context/che/database/Cleaner.java -text
ctxt.che/src/main/java/org/universAAL/context/che/database/impl/SesameBackend.java -text
ctxt.che/src/main/java/org/universAAL/context/che/database/impl/SesameBackendWithConfidence.java -text
ctxt.che/src/main/java/org/universAAL/context/che/database/impl/package.html -text
ctxt.che/src/main/java/org/universAAL/context/che/database/package.html -text
ctxt.che/src/main/java/org/universAAL/context/che/osgi/Activator.java -text
ctxt.che/src/main/java/org/universAAL/context/che/osgi/package.html -text
ctxt.che/src/main/java/org/universAAL/context/che/package.html -text
ctxt.che/src/test/java/org/universAAL/context/che/ArtifactIntegrationTest.java -text
ctxt.situation.reasoner.client.example/pom.xml -text
ctxt.situation.reasoner.client.example/src/main/java/org/universaal/reasoner/client/example/QueryCreatorFrame.java -text
ctxt.situation.reasoner.client.example/src/main/java/org/universaal/reasoner/client/example/ReasoningGUI.java -text
ctxt.situation.reasoner.client.example/src/main/java/org/universaal/reasoner/client/example/RuleCreatorFrame.java -text
ctxt.situation.reasoner.client.example/src/main/java/org/universaal/reasoner/client/example/SituationCreatorFrame.java -text
ctxt.situation.reasoner.client.example/src/main/java/org/universaal/reasoner/client/example/osgi/Activator.java -text
ctxt.situation.reasoner.client/pom.xml -text
ctxt.situation.reasoner.client/src/main/java/org/universaal/reasoner/client/CHECaller.java -text
ctxt.situation.reasoner.client/src/main/java/org/universaal/reasoner/client/ContextEventRecorder.java -text
ctxt.situation.reasoner.client/src/main/java/org/universaal/reasoner/client/ReasoningCaller.java -text
ctxt.situation.reasoner.client/src/main/java/org/universaal/reasoner/client/osgi/Activator.java -text
ctxt.situation.reasoner/pom.xml -text
ctxt.situation.reasoner/reasoner.launch -text
ctxt.situation.reasoner/src/main/java/org/universAAL/reasoner/server/CHECaller.java -text
ctxt.situation.reasoner/src/main/java/org/universAAL/reasoner/server/CSubsMulti.java -text
ctxt.situation.reasoner/src/main/java/org/universAAL/reasoner/server/ProvidedReasoningService.java -text
ctxt.situation.reasoner/src/main/java/org/universAAL/reasoner/server/ReasoningProvider.java -text
ctxt.situation.reasoner/src/main/java/org/universAAL/reasoner/server/RuleModel.java -text
ctxt.situation.reasoner/src/main/java/org/universAAL/reasoner/server/osgi/Activator.java -text
ctxt.situation.reasoner/src/main/resources/sample/Query/Query20120918_740050025.owl -text
ctxt.situation.reasoner/src/main/resources/sample/Rule/Rule20120918_418145820.owl -text
ctxt.situation.reasoner/src/main/resources/sample/Situation/Situation20120918_1194550531.owl -text
ctxt.situation.reasoner/src/main/resources/sample/Situation/Situation20120919_1896661759.owl -text
pom/pom.xml -text
sesame.uaal.store/ASL2.0.txt -text
sesame.uaal.store/LICENSE-Aduna-OpenRDF.txt -text
sesame.uaal.store/LICENSE-MIT11-Bouncycastle.txt -text
sesame.uaal.store/MITX.txt -text
sesame.uaal.store/NOTICE.txt -text
sesame.uaal.store/pom.xml -text
sesame.uaal.store/src/main/java/org/universAAL/context/sesame/sail/CardinCollect2NativeStore.java -text
sesame.uaal.store/src/main/java/org/universAAL/context/sesame/sail/CardinCollect2NativeStoreConnection.java -text
sesame.uaal.store/src/main/java/org/universAAL/context/sesame/sail/CardinCollectNativeStore.java -text
sesame.uaal.store/src/main/java/org/universAAL/context/sesame/sail/CardinCollectNativeStoreConnection.java -text
sesame.uaal.store/src/main/java/org/universAAL/context/sesame/sail/CardinalityNativeStore.java -text
sesame.uaal.store/src/main/java/org/universAAL/context/sesame/sail/CardinalityNativeStoreConnection.java -text
sesame.uaal.store/src/main/java/org/universAAL/context/sesame/sail/LRUCache.java -text
sesame.uaal.store/src/main/java/org/universAAL/context/sesame/sail/NamespaceStore.java -text
sesame.uaal.store/src/main/java/org/universAAL/context/sesame/sail/NativeEvaluationStatistics.java -text
sesame.uaal.store/src/main/java/org/universAAL/context/sesame/sail/NativeStatementIterator.java -text
sesame.uaal.store/src/main/java/org/universAAL/context/sesame/sail/NativeTripleSource.java -text
sesame.uaal.store/src/main/java/org/universAAL/context/sesame/sail/RecordCache.java -text
sesame.uaal.store/src/main/java/org/universAAL/context/sesame/sail/SequentialRecordCache.java -text
sesame.uaal.store/src/main/java/org/universAAL/context/sesame/sail/SortedRecordCache.java -text
sesame.uaal.store/src/main/java/org/universAAL/context/sesame/sail/TripleStore.java -text
sesame.uaal.store/src/main/java/org/universAAL/context/sesame/sail/TxnStatusFile.java -text
sesame.uaal.store/src/main/java/org/universAAL/context/sesame/sail/ValueStore.java -text
sesame.uaal.store/src/main/java/org/universAAL/context/sesame/sail/ValueStoreRevision.java -text
sesame.uaal.store/src/main/java/org/universAAL/context/sesame/sail/crypt/Codec.java -text
sesame.uaal.store/src/main/java/org/universAAL/context/sesame/sail/crypt/CryptDataStore.java -text
sesame.uaal.store/src/main/java/org/universAAL/context/sesame/sail/crypt/CryptUtil.java -text
sesame.uaal.store/src/main/java/org/universAAL/context/sesame/sail/model/NativeBNode.java -text
sesame.uaal.store/src/main/java/org/universAAL/context/sesame/sail/model/NativeLiteral.java -text
sesame.uaal.store/src/main/java/org/universAAL/context/sesame/sail/model/NativeResource.java -text
sesame.uaal.store/src/main/java/org/universAAL/context/sesame/sail/model/NativeURI.java -text
sesame.uaal.store/src/main/java/org/universAAL/context/sesame/sail/model/NativeValue.java -text
sesame.uaal.store/src/main/java/org/universAAL/context/sesame/sail/txn-flags.txt -text
