* text=auto !eol
ctxt.che.mobile/ASL2.0.txt -text
ctxt.che.mobile/LICENSE-CPL-JUnit.txt -text
ctxt.che.mobile/NOTICE.txt -text
ctxt.che.mobile/pom.xml -text
ctxt.che.mobile/src/main/java/org/universAAL/context/chemobile/Hub.java -text
ctxt.che.mobile/src/main/java/org/universAAL/context/chemobile/MobileHistorySubscriber.java -text
ctxt.che.mobile/src/main/java/org/universAAL/context/chemobile/osgi/Activator.java -text
ctxt.che.mobile/src/main/java/org/universAAL/context/chemobile/osgi/package.html -text
ctxt.che.mobile/src/main/java/org/universAAL/context/chemobile/package.html -text
ctxt.che.mobile/src/test/java/org/universAAL/context/chemobile/test/ArtifactIT.java -text
ctxt.che/ASL2.0.txt -text
ctxt.che/LICENSE-Aduna-OpenRDF.txt -text
ctxt.che/LICENSE-CPL-JUnit.txt -text
ctxt.che/NOTICE.txt -text
ctxt.che/pom.xml -text
ctxt.che/src/main/java/org/universAAL/context/che/ContextHistoryCallee.java -text
ctxt.che/src/main/java/org/universAAL/context/che/ContextHistoryServices.java -text
ctxt.che/src/main/java/org/universAAL/context/che/ContextHistorySubscriber.java -text
ctxt.che/src/main/java/org/universAAL/context/che/Hub.java -text
ctxt.che/src/main/java/org/universAAL/context/che/database/Backend.java -text
ctxt.che/src/main/java/org/universAAL/context/che/database/Cleaner.java -text
ctxt.che/src/main/java/org/universAAL/context/che/database/impl/SesameBackend.java -text
ctxt.che/src/main/java/org/universAAL/context/che/database/impl/SesameBackendWithConfidence.java -text
ctxt.che/src/main/java/org/universAAL/context/che/database/impl/package.html -text
ctxt.che/src/main/java/org/universAAL/context/che/database/package.html -text
ctxt.che/src/main/java/org/universAAL/context/che/osgi/Activator.java -text
ctxt.che/src/main/java/org/universAAL/context/che/osgi/package.html -text
ctxt.che/src/main/java/org/universAAL/context/che/package.html -text
ctxt.che/src/test/java/org/universAAL/context/che/ArtifactIT.java -text
pom/ctxt.karaf.features/ASL2.0.txt -text
pom/ctxt.karaf.features/NOTICE.txt -text
pom/ctxt.karaf.features/pom.xml -text
pom/ctxt.karaf.features/src/features/features.xml -text
pom/pom.xml -text
